table#artist-table {
    width: 20%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
  }
  
table#artist-table td, table#artist-table th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table#artist-table thead {
  background-color: #d1d1d1;
}

#new-artist-form {
    margin-top: 2rem;
}

#artist-button {
    margin-top: 1rem;
}

#delete-artists {
  margin-top: 2rem;
}

html * {
  font-family: 'Roboto';
}