table#user-table {
    width: 50%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
  }
  
table#user-table td, table#user-table th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
}

table#user-table thead {
    background-color: #d1d1d1;
}

html * {
    font-family: 'Roboto';
}